#connectionDisplay{
    display: none;
}
#inscriptionDisplay{
    display: none;
}

.btnEnvoyerConnexion{
    border-radius: 50px;
    font-family: 'Lostar';
    border-top-left-radius: 0px
}