.tweet {
  border: var(--blackpurple) solid 1px;
  border-radius: 20px;
  /* width: 100%; */
  margin: 7px;
  /* margin-right: 20px;
    margin-left: 20px;
    padding: 10px;  559e52*/
  background-color: var(--white);
  display: flex;
  color: var(--vertfonce);
  border-top-left-radius: 0;
  width: 75vw;
}

.imgprofil {
  width: 100px;

  border-radius: 50%;
  margin: 7px;
}

.info {
  display: flex;
  margin: 10px;
}

.sizeImg {
  width: 100%;

}

.infoTexte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blackpurple);
}
.tweetStyle {
  display: flex;
  flex-direction: column;
  /* width: 75vw; */
}

.contenueTweet {
  word-break: break-all;
  margin: 10px;
  color: var(--bleutravail);
  /* border-left: black solid 3px; */
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.heurSuppr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.boxsChat {
  display: flex;
  border-radius: 50%;
  position: inherit;
}

.chatRap .boxsChat {
  background-color: #ffadad;
  width: 100px;
  height: 100px;
}

.chatKpop .boxsChat {
  background-color: rgb(255, 214, 165);
  width: 100px;
  height: 100px;
}

.chatClassique .boxsChat {
  background-color: rgb(253, 255, 182);
  width: 100px;
  height: 100px;
}

.chatElectro .boxsChat {
  background-color: rgb(202, 255, 191);
  width: 100px;
  height: 100px;
}

.chatJazz .boxsChat {
  background-color: rgb(179, 179, 0);
  width: 100px;
  height: 100px;
}

.chatRock .boxsChat {
  background-color: rgb(255, 192, 203);
  width: 100px;
  height: 100px;
}

.chatMetal .boxsChat {
  background-color: rgb(160, 196, 255);
  width: 100px;
  height: 100px;
}

.chatPop .boxsChat {
  background-color: rgb(201, 48, 168);
  width: 100px;
  height: 100px;
}

.chatFunk .boxsChat {
  background-color: rgb(155, 246, 255);
  width: 100px;
  height: 100px;
}

.chatCountry .boxsChat {
  background-color: gray;
  width: 100px;
  height: 100px;
}
.contenu {
  height: 15vw;
  width: 30vw;
  text-align: left;
  padding: 3%;
  margin-top: 5%;
  border-radius: 10px;
}
@media screen and (max-width: 911px) {
  .info {
    display: block;
    margin: 10px;
  }
}

@media screen and (max-width: 420px) {
  .tweet {
    border: var(--blackpurple) solid 1px;
    border-radius: 20px;
    /* width: 100%; */
    margin: 7px;
    background-color: var(--white);
    display: flex;
    color: var(--vertfonce);
    border-top-left-radius: 0;
    /* width: 85vw; */
  }
}

@media screen and (max-width: 850px) {
  .tweetStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
