@import url(tags.css);
@import url(conteneur.css);
@import url(exemple_tweet.css);
@import url(divInfo.css);
@import url(categories.css);
@import url(popup.css);
@import url(flouScroll.css);
@import url(sidnav.css);
@import url(supprimerChat.css);
@import url(connexion.css);
@import url(popupConnexion.css);
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
* {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}
a {
  color: var(--bleutravail);
}
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --vertfonce: #182d0e;
  --vertclaire: #c8d7c6;
  --blackpurple: #1c1018;
  --taupe: #bfacb5;
  --bleutravail: #5c6784;
  --black: #000000;
}

@font-face {
  font-family: "lostar";
  src: url(‘../font/lostar/Lostar.ttf’) ;
}

body {
  background-color: #c8d7c6;
}

.actu {
  display: flex;
  flex-direction: row;
  width: 100%; 
  justify-content: space-between;
}

.parametre {
  display: flex;
  align-items: center;
}
.linkColor{
  color: white;
}
.none {
  display: none;
}

.tweetManga {
  color: var(--white);
  display: flex;
}

.navbar {
  font-family: "Lostar";
  text-align: center;
  font-size: 80px;
  font-style: italic;
  background-color: var(--vertfonce);
  margin-bottom: 20px;
  color: var(--white);
}

.flexcolonne {
  display: flex;
  flex-direction: column;
}

.flexligne {
  display: flex;
  flex-direction: row;
}

#darkbody{
  background-color: var(--vertfonce);
}

#darknav{
  background-color:  var(--black);
}


@media screen and (max-width:428px){
  .navbar {
    font-family: "Lostar";
    text-align: center;
    font-size: 60px;
    font-style: italic;
    background-color: var(--vertfonce);
    margin-bottom: 20px;
    color: var(--white);
}

}
@media screen and (max-width: 550px) {

  .actu {
    display: flex;
    flex-direction: row;
    width: 100%; 
    justify-content:center;
  }
}
.visible{
  display: none;
}

.Welcome{
  text-align: center;
  color: var(--blackpurple);
  font-style: italic;
}