ol {
  list-style: none;
}

.cat1 {
  background-color: #ffadad;
}
.cat2 {
  background-color: #ffd6a5;
}
.cat3 {
  background-color: #fdffb6;
}
.cat4 {
  background-color: #caffbf;
}
.cat5 {
  background-color: rgb(179, 179, 0);
}
.cat6 {
  background-color: pink;
}
.cat7 {
  background-color: #a0c4ff;
}
.cat8 {
  background-color: rgb(201, 48, 168);
}
.cat9 {
  background-color: #9bf6ff;
}
.cat10 {
  background-color: grey;
}

.div_tag {
  border-radius: 21px;
  background: var(--white);
  border: var(--blackpurple) solid 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6px;
  padding-right: 6px;
  color: var(--bleutravail);
  font-style: oblique;
  font-size: larger;
  border-top-left-radius: 0;
}

.div_tag h3 {
  color: var(--blackpurple);
}
.div_tag_cache {
  border-radius: 21px;
  background: var(--white);
  border: var(--vertclaire) solid 3px;
  display: none;
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6px;
  padding-right: 6px;
  position: sticky;
  top: 20px;
  color: var(--vertfonce);
  font-style: oblique;
  font-size: larger;
  border-top-left-radius: 0;
}
.chatRap {
  display: none;
}

.tagRestart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 20px;
}

@media screen and (max-width: 750px) {
  .div_tag {
    border-radius: 21px;
    background: var(--white);
    border: var(--blackpurple) solid 3px;
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--bleutravail);
    font-style: oblique;
    font-size: larger;
    border-top-left-radius: 0;
  }
}
